<!--[if lte IE 8]><link href="http://localhost:9000/assets/stylesheets/application.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="http://localhost:9000/assets/stylesheets/application-ie8.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
