{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% set titlePrefix = 'Error: ' if errorSummary else "" %}
  {{ titlePrefix + ' ' + 'Page Title' }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: 'Back'
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {# {{ routes('routes.controllers.TestController.obviousName().url') }}<br/>
                {{ routes('routes.controllers.TestController.methodWithArgs(arg1).url') }}<br/>
                {{ routes('routes.controllers.TestController.methodWithTwoArgs(arg1,arg2).url') }}<br/>
                {{ routes('routes.controllers.anotherpackage.AnotherController.anotherObviousName().url') }}<br/> #}

                {{ routes }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            classes: " govuk-label--xl",
            isPageHeading: true,
            text: messages(eventName)
          },
          id: "event-name",
          name: "event-name"
        }) }}

      </div>
    </div>
  </div>

{% endblock %}
